body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

form {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

legend {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

small {
    font-size: 12px; 
    color: #888;
    display: block;
    margin-top: 5px; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    vertical-align: middle; 
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px; 
    vertical-align: middle; 
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

button:hover {
    background-color: #555;
}

.form-group.flex {
    display: flex;
    align-items: center;
}

.form-group.flex label {
    margin-right: 10px;
    white-space: nowrap;
}

#must {
    display: block; 
    margin-top: 5px;
    text-align: center;
}

